@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
        url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@font-face {
    font-family: 'icons';
    src: url('../fonts/icons.woff') format('woff'), url('../fonts/icons.woff2#icons') format('woff22');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

%ic {
    font-family: 'icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"],
[class*=" _icon-"] {
    &:before {
        @extend %ic;
        display: block;
    }
    /* use !important to prevent issues with browser extensions that change fonts */
}

// ._icon-fb:before {
//     content: "\e900";
// }
// ._icon-insta:before {
//     content: "\e901";
// }
// ._icon-linkedin:before {
//     content: "\e902";
// }
// ._icon-twit:before {
//     content: "\e903";
// }
@import "fonts";
$minWidth:320px;
$maxWidth:1130; //* ширина нашего макета 
$maxWidthContainer:856;
$md1: $maxWidthContainer+12;
$md2:991.98;
$md3:750;
$md4:479.98;
//* общие стили для бади
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none
}

body {
    &._lock {
        overflow: hidden;
    }
}

.ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    img {
        display: none;
    }
}

//* общие стили для бади
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    //&._loaded {}
}

//* ограничители для разных типов девайсов 
._container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    padding: 0 15px;
}

.text {}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.main-screen {
    background-image: url(../img/bg_2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    flex: 1 0 100%;
    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.header {
    position: absolute;
    z-index: 20;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 0;
    top: 0;
    &__row {}
    &__menu {}
    &__logo {}
}

.menu {
    padding: 60px 10px 0 10px;
    &__icon {}
    &__body {}
    &__list {
        display: flex;
        list-style-type: none;
        text-decoration: none;
        li {
            &:nth-child(1) {
                margin: 0 75px 0 0;
            }
            &:nth-child(2) {
                margin: 0 75px 0 0;
            }
            &:nth-child(3) {
                margin: -20px 0px 0 0;
            }
            &:nth-child(4) {
                margin: 0 75px 0 75px;
            }
        }
    }
    &__link {
        font-family: Lato;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #4d4a59;
    }
    @media (max-width:760px) {
        padding: 5px 10px 0 10px;
        &__body {
            width: max-content;
            height: max-content;
        }
        &__list {
            flex-direction: column;
            li {
                &:nth-child(1) {
                    margin: 0 0 10px 0;
                }
                &:nth-child(2) {
                    margin: 0 0 0px 0;
                }
                &:nth-child(3) {
                    margin: 0 0 10px 0;
                }
                &:nth-child(4) {
                    margin: 0 0 10px 0;
                }
                img {
                    display: none;
                }
            }
            &__link {
                font-size: 23px;
            }
        }
    }
}

.content {
    background-color: #f7f7f7
}

.block {
    &__block {}
    &__icon {
        padding: 100px 0 0 0;
        @media (max-width: 760px) {
            padding: 40px 5px 0 5px;
        }
    }
    &__title {
        padding: 20px 0 0 0;
        @media (max-width: 760px) {
            padding: 10px 5px 0 5px;
        }
    }
    &__text {
        padding: 20px 5px 50px 5px;
    }
}

.container {
    margin: 0 auto;
    max-width: 800px;
}

.block {
    text-align: center;
}

.title {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #38393b;
}

.text {
    font-size: 18px;
    font-weight: 400;
    color: #848688;
}

.brands {
    &__row {
        display: flex;
        @media(max-width: 700px) {
            flex-direction: column;
        }
    }
    &__column {
        flex: 0 1 33.333%;
        &_b {
            background-image: url("../img/rectangle_1_54.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            flex: 0 1 66.666%;
        }
    }
    &__item {}
    &__content {}
    &__image {
        img {
            margin-bottom: -4px;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.block__text {
    padding-right: 20px;
    padding-left: 20px;
}

.item {
    height: 100%;
    display: block;
    position: relative;
    &__logo {
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding-top: 220px;
        display: block;
        text-align: center;
        transition: all 0.3s ease 0s;
        background-color: rgba(109, 194, 158, 0.5);
        visibility: hidden;
        opacity: 0;
        @media(max-width: 700px) {
            padding-top: 300px;
        }
    }
    &__img {}
    &:hover {
        .item__logo {
            transition: transform 2s ease 2s;
            visibility: visible;
            opacity: 1;
        }
    }
}

.brands {
    &__row-rev {
        display: flex;
        flex-direction: row-reverse;
        @media(max-width: 700px) {
            flex-direction: column;
        }
    }
    &__column-2 {
        background-image: url("../img/rectangle_1_copy_5_61.png");
        &_b {}
    }
    &__item {}
    &__content {}
    &__image {}
}

.brands__item-3 {
    background-image: url("../img/rectangle_1_copy_6_63.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    @media(max-width: 700px) {
        display: none;
    }
}

.brands__item-4 {
    background-image: url("../img/rectangle_1_copy_6_64.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    @media(max-width: 700px) {
        display: none;
    }
}

.slider {
    text-align: center;
    background-color: #f7f7f7;
    padding: 120px 0px 60px 0px;
    &__body {}
    &__item {}
    &__icon {
        margin: 0 0 20px 0;
    }
    &__title {
        margin: 0 0 20px 0;
    }
    &__text {
        text-align: center;
    }
}

.shop {
    text-align: center;
    padding: 75px 0px;
    background-color: #282f35;
    display: flex;
    align-items: center;
    justify-content: center;
    &__footer {}
    &__btn {
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #ffffff;
        padding: 15px;
        width: 300px;
        height: 50px;
        transition: all 2s ease 0s;
        background-color: rgba(255, 255, 255, 0.0);
        border: 1px solid rgba(255, 255, 255, 0.49);
        &:hover {
            cursor: pointer;
            background-color: rgba(128, 247, 144, 0.664);
        }
        &:active {
            background-color: rgba(93, 224, 110, 0.664);
        }
    }
}

.brands__item-6 {
    background-image: url("../img/rectangle_3_copy_4_141.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    @media(max-width: 700px) {
        display: none;
    }
}

.mail {
    background-color: #ffffff;
    padding: 110px 0px 112px 0px;
    &__content {
        text-align: center;
        background-color: #ffffff;
    }
}

.content {
    &__icon {
        padding: 0 0 32px 0;
    }
    &__title {
        font-size: 24px;
        line-height: 34px;
        font-weight: 400;
        font-style: italic;
        color: #848688;
        padding: 0 0 32px 0;
    }
    &__form {}
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px 0 5px;
    &__input {
        width: 400px;
        height: 69px;
        background-color: #ffffff;
        border: 1px solid #d3d6d8;
        margin: 0 10px 0 0;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        font-style: italic;
        color: #919191;
        padding-left: 25px;
        @media(max-width: 700px) {
            margin: 0 0 0 0;
        }
    }
    &__btn {
        padding: 20px 0px;
        font-size: 24px;
        line-height: 24px;
        font-weight: 300;
        color: #ffffff;
        width: 126px;
        height: 69px;
        background-color: #86c19e;
        transition: all 1s ease 0s;
        &:hover {
            background-color: rgba(61, 128, 70, 0.664);
            cursor: pointer;
        }
        &:active {
            background-color: rgba(21, 129, 35, 0.664);
        }
    }
}

.footer {
    background-color: #f7f7f7;
    padding: 100px 0px 100px 0px;
    @media(max-width: 500px) {
        padding: 30px 0px 30px 0px;
    }
    &__row {
        display: flex;
        align-items: center;
        @media(max-width: 500px) {
            flex-direction: column;
        }
    }
    &__column {
        flex: 0 1 33.3333%;
        @media(max-width: 500px) {
            padding: 0px 0px 10px 0px;
        }
    }
    &__adress {
        p {
            color: #848688;
            font-size: 13.9px;
            font-weight: 400;
            font-style: italic;
        }
    }
    &__social {
        display: flex;
        justify-content: center;
    }
    &__dev {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.social {
    &__link {
        margin: 0 7.5px;
        &:hover {
            opacity: 0.8;
        }
    }
}

.dev {
    &__text {
        font-size: 13.9px;
        line-height: 17px;
        font-weight: 400;
        font-style: italic;
        color: #848688;
        margin-right: 10px;
    }
    &__icon {}
}